
<div class="card" id="AnaCard">
    <div class="card-content" id="card-header">
      <div class="media">
        <div class="media-content columns is-vcentered ">
          <img src="/images/icon.gif">
          <div class="columns">
            <div class="column">
              <b>IP Adress : </b>
              

            </div>
            <div class="column">
              <form action="/ip-query" method="post">
                <input class="input" type="text" placeholder="ip adress" id="ip-input" minlength="8"  name="IPadress">
                <input type="submit" value="QUERY" id="query-button">
              </form>
            </div>
          </div>
          
          
        </div>
      </div>
  
    </div>
    <div class="block"></div>
    
    
    <div class="card-content " id="card-content">
  
      <div class="media">
        <div class="file is-boxed is-link" id="fileBox">
          <label class="file-label">
            <div class="columns">
              <div class="column">
                <h1><b>>>> IP Tracking <<< </b></h1>
                <img src="/images/query.gif">
  
              </div>
            </div>
            
            </span>
          </label>
        </div>
      </div>
    </div> 
    


  
  
  
    
  
  
  
  </div>